<section class="banner-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 flt-rgt wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="10">
        <div class="banner-txt">
          <h2>{{ t.web.d.banner.slogan }}</h2>
          <p>{{ t.web.d.banner.slogan2 }}</p>
          <a class="btn" href title="{{ t.web.d.banner.watch_demo }}" ng-click="open_demo_video_modal();">{{ t.web.d.banner.watch_demo }}</a> </div>
      </div>
      <div class="col-sm-6 banner-pic wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="10"> <img src="/static/design/images/banner-pic.png" class="img-responsive"> </div>
    </div>
  </div>
</section>
