<mh-base>
    <div id="content" class="bg-lblue-pattern">
        <div class="container">
            <div class="form-box-wrap">
                <div ng-hide="email_sent || token" class="form-box">
                    <div class="heading">{{ t.web.s.password.h }}</div>
                    <div class="content">
                        <form ng-submit="send_confirm_email(email)">
                            <p class="msg">{{ t.web.s.password.p }}</p>
                            <div class="form-group">
                                <label style="color: black;">{{ t.web.s.password.email_prompt }}</label>
                                <input ng-model="email" type="email" class="form-control" placeholder="{{ t.web.s.password.email_placeholder }}" required>
                            </div>
                            <div class="form-group"><button type="submit" class="btn btn-block"><i class="fa fa-play fa-lft"></i>{{ t.web.s.password.send_confirmation }}</button> </div>
                        </form>
                    </div>
                </div>
                <div ng-show="email_sent && !token" class="form-box">
                    <div class="heading">{{ t.web.s.password.h }}</div>
                    <div class="content">
                        <div class="alert alert-success" role="alert">{{ t.web.s.password.success }}</div>
                    </div>
                </div>
                <div ng-show="token" class="form-box">
                    <div class="heading">{{ t.web.s.password.reset.h }}</div>
                    <div class="content">
                        <form ng-submit="change_forgotten_password(email, password)">
                            <p class="msg">{{ t.web.s.password.reset.p }}</p>
                            <div class="form-group">
                                <label style="color: black;">{{ t.web.s.password.reset.prompt }}</label>
                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input ng-hide="show_password" ng-model="password" id="password-field" type="password" class="form-control" name="password" placeholder="{{ t.web.s.password.reset.placeholder }}">
                                    <input ng-show="show_password" ng-model="password" type="text" id="password-field" class="form-control" name="password" placeholder="{{ t.web.s.password.reset.placeholder }}">
                                    <span class="input-group-btn">
                                        <button ng-hide="show_password" ng-click="show_password = !show_password;" toggle="#password-field" class="btn toggle-password fa fa-fw fa-eye-slash" type="button"></button>
                                        <button ng-show="show_password" ng-click="show_password = !show_password;" toggle="#password-field" class="btn toggle-password fa fa-fw fa-eye" type="button"></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group"><button type="submit" class="btn btn-block"><i class="fa fa-play fa-lft"></i>{{ t.web.s.password.reset.change }}</button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mh-base>
