<div class="row">
    <div class="content-box">
        <div class="heading">{{ t.web.d.settings_branding.title }}</div>
        <form action="{{ branding_root }}" method="POST" enctype="multipart/form-data" onSubmit="document.getElementById('brandingSubmitButton').disabled=true;">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}" />
            <label>
                {{ t.web.d.settings_branding.p1 }}
                <br><br>
                {{ t.web.d.settings_branding.p2 }}
            </label>
            <div ng-show="branding.cover_image_url">
                <img ng-if="branding.cover_image_url" style="border: 1px solid #cacaca;width:100%;max-width:600px;" ng-src="{{branding.cover_image_url}}">
                <br>
                <br>
                <a class="button alert" href ng-click="branding.cover_image_url = false;delete_image=true">{{ t.web.d.settings_branding.delete_button }}</a>
            </div>
            <div ng-show="!branding.cover_image_url">
                <input type="file" name="cover_image">
            </div>
            <input type="hidden" name="redirect" value="true" />
            <input type="hidden" name="delete_image" value="{{delete_image || !branding.cover_image_url}}" />
            <br>
            <label>
                {{ t.web.d.settings_branding.text }}
                <textarea style="width:6in;" rows="5" name="cover_text" ng-model="branding.cover_text"></textarea>
            </label>
            <button id="brandingSubmitButton" type="submit" class="btn btn-primary" value="Send">{{ t.web.d.settings_branding.update_button }}</button>
            <br><br>
            <a ng-show="me.report_branding" href="/reports/cover_sample.pdf" target="_blank">{{ t.web.d.settings_branding.preview_report }}</a>
            <br><br>
            <a ng-show="me.site_branding" href="/#/codes/preview" target="_blank">{{ t.web.d.settings_branding.preview_site }}</a>
        </form>
    </div>
</div>
