<mh-base>
    <div id="content" class="bg-lblue-pattern">
        <div class="container">
            <div class="form-box-wrap">
                <div class="form-box">
                    <div class="heading">{{ t.web.s.load.loading }}</div>
                    <div class="content">
                        <center>
                            <div class="loadingdiv" style="min-height: 200px;">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mh-base>
